<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128991677-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config','UA-128991677-1',{'optimize_id':'GTM-KLVQ7LF'});
      gtag('config', 'UA-128991677-1');
    </script>

    <title>Map and Timeline</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/business-casual.min.css" rel="stylesheet">

  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KPL4PFV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">Where are they come from?</span>
      <span class="site-heading-lower">You need this map.</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="index.html">WTA Tennis Players</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/">Home</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/calendar">Calendar Table</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/user">User Chart</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/data">Players Data</a>
            </li>
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/map">Map</a>
            </li>
          </ul>
          <ul class="navbar-nav mx-auto navbar-right">
              <li><a class="nav-link text-uppercase text-expanded" href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
              <li><a class="nav-link text-uppercase text-expanded" href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

<!--map-->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-15 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-2">
                <span class="section-heading-lower">Birthplace</span>
              </h2>
              <button type="button" class="btn btn-warning disabled" id='show_map' onclick="show_birthplaces();">Show birthplace</button><br><br><br>
              <div id="map" style="width: 800px; height: 440px; border: 1px solid #AAA;"></div>
              <br><br>
        </div>
      </div>
    </section>

    <div id="map" style="width: 600px; height: 400px"></div>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Aceym @2018</p>
      </div>
    </footer>

       <!-- Bootstrap core JavaScript -->
       <script src="static/js/jquery.min.js"></script>
       <script src="static/js/bootstrap.bundle.min.js"></script>

       <!--get map-->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.css">
       <link rel="shortcut icon" href="">
       <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.js"></script>
       <script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>

       <script>
            var mapboxTiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: 'Map data &copy; <a href="https://openstreetmap.org">OpenStreetMap</a>', maxZoom: 18,})

            var map = L.map('map')
            .addLayer(mapboxTiles)
            .setView([51.507222, -0.1275], 2);

            // create custom icon
            var tennisIcon = L.icon({
                iconUrl: 'https://image.flaticon.com/icons/svg/1303/1303450.svg',
                iconSize: [15, 30], // size of the icon
                popupAnchor: [0,-15]
                });

            var items = [];
               var airtable_read_endpoint = "https://api.airtable.com/v0/appFLsn4cd5MWKYFV/Birthplace?api_key=keyGHT4s0GhgAfOSe";
               var data = [];
               $.getJSON(airtable_read_endpoint, function(result) {
                      $.each(result.records, function(key,value) {
                          items = {};
                              items["name"] = value.fields.Name;
                              items["birthplace"] = value.fields.Birthplace;
                              items["birthday"] = value.fields.Birthday;
                              items["image_url"] = value.fields.Image_url;
                              items["latitud"] = value.fields.Lat;
                              items["longitud"] = value.fields.Lng;
                              data.push(items);
                              console.log(items);
                       }); // end .each
               }); // end getJSON

            function show_birthplaces(){
             for (var i in data) {
                 var latlng = L.latLng({ lat: data[i].latitud, lng: data[i].longitud });
                 L.marker( latlng ,{icon:tennisIcon})
                 .bindPopup( '<img src="' + data[i].image_url+'" width = "150px"><br>'+ '' + data[i].name+'<br>' + '' + data[i].birthday+'<br>' + ''+ data[i].birthplace + '<br>')
              .addTo(map);
             }
            }

       </script>

  </body>

</html>
